.header {
    background: $darkGrey;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $sSize 0;
}

.header__title{
    color: white;
    text-decoration: none;
    font-size: $mSize;
    h1 {
        margin: 0;
    }
}
.header__subtitle{
    color: $brightGreen;
    font-size: $mSize;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktopBreakPoint) {
    .header {
        margin-bottom: $xlSize;
        padding: $mSize 0;
    }
} 